body{ font: 85% "Trebuchet MS", sans-serif; margin: 50px;}

#header {
   width:100%;
   height:50px;
   float:left;
}

#header p {
   text-align:center;
   font-weight:bold;
   font-size:20px;
}

#menu {
	width:18%; 
	height:100%; 
	float:left; 
}

#main {
	width:81%;
    height:100%;
	float:right;
}

#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
